*.o
*.tmp.*
alivemonitor
asus_hosts
balloon
bsa2bluez
burnin-flash
buttonmon
chg_mod_own
cpulog
device_stats.pb.h
dhcp-rogue
dhcpnametax
dhcpvendortax
dir-monitor
diskbench
dnsck
dnssd_hosts
eddystone
freemegs
gsetsid
gstatic
host-*
http_bouncer
ibeacon
ionice
isoping
isostream
logos
mcastreceive
memwatcher
mmap
multicast_join
netusage
randint
randomdata
readubootver
realtime
rtwatcher
setuid
soft_rc
ssdp_poll
statcatcher
statpitcher
stun
test_dir
test_file
udpburst
usleep
wait-until-created
watch-dir
wifi_files
