#######
#
# The rules are added for USB and SATA devices. If the matched key has been
# found, the symbolic links will be created as below:
#
# /dev/usb  - for USB device
# /dev/sata - for SATA device
#
######
	
KERNEL=="sd*", SUBSYSTEM=="block", ATTRS{removable}=="1", SYMLINK+="usb"
KERNEL=="sd*", SUBSYSTEM=="block", ATTRS{removable}=="0", SYMLINK+="sata%n"

